Options -Indexes
ErrorDocument 404 http://localhost/404
ErrorDocument 403 http://localhost/404

RewriteEngine on
RewriteRule ^(src|styles|scripts) - [L]
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]